<ul class="{{ level }}">
    {% for item in items %}
        {% set _item_attributes = attrs()
            .addClass(item.class|default)
            .addClass('folder', item.type == 'folder')
            .mergeWith(item_attributes|default)
        %}
        <li{{ _item_attributes }}>
            {% set _link_attributes = attrs()
                .addClass(item.class|default)
                .set('aria-haspopup', 'true', item.subitems is not empty)
                .mergeWith(link_attributes|default)
            %}
            {% if item.type == 'folder' %}
                <span{{ _link_attributes }}>{{ item.link }}</span>
            {% elseif item.isActive %}
                <strong{{ _link_attributes }}>{{ item.link }}</strong>
            {% else %}
                {% set _link_attributes = attrs()
                    .set('href', item.href|default('./'))
                    .set('title', item.pageTitle|default(item.title))
                    .setIfExists('accesskey', item.accesskey|default)
                    .setIfExists('tabindex', item.tabindex|default)
                    .mergeWith(item.target|default)
                    .mergeWith(item.rel|default)
                    .mergeWith(link_attributes|default)
                %}
                <a{{ _link_attributes }}>{{ item.link }}</a>
            {% endif %}
            {{ item.subitems|default('')|raw }}
        </li>
    {% endfor %}
</ul>
